@font-face 
{
  font-family: 'LINESeedKR-Th';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body
{
  font-family: 'LINESeedKR-Rg', Roboto, Helvetica, Arial, sans-serif !important;
}

.fLn_Th
{
  font-family: "LINESeedKR-Th";
}

.fLn_Bd
{
  font-family: "LINESeedKR-Bd";
}

.fLn_Rg
{
  font-family: "LINESeedKR-Rg";
}